@media screen and (max-width: 1737px)
    #galerie
        .gallery-img:nth-last-child(n+3)
            max-width: none
        .gallery-img:nth-last-child(-n+3)
            display: none

//    Laptop L
@media screen and (max-width: 1440px)
    #oprojektu .side
        padding-right: 50px

    #jakzacit .side
        padding-left: 50px

    #galerie .modal-wrapper .modal
        min-width: 900px

//    Laptop
@media screen and (max-width: 1024px)
    #oprojektu .side
        width: 42.5vw

    #jakzacit .side
        width: 42.5vw

    #galerie .modal-wrapper .modal
        min-width: 700px

//    Tablet
@media screen and (max-width: 768px)
    .nav
        position: relative

        .menu
            display: flex
            flex-direction: column
            justify-content: space-around
            text-align: left !important
            background: white
            position: absolute
            top: 75px
            left: 0
            width: 100%
            height: 0%
            overflow: hidden
            transition: 0.3s
            padding: 0

            &-link
                opacity: 0
                padding-left: 30px
                transition-delay: 0.15s
                transition-duration: 0.3s

    .hamburger
        display: block

    #toggle:checked ~ .hamburger
        background: none

        &::after
            top: 0
            transform: rotate(45deg)

        &::before
            top: 0
            transform: rotate(-45deg)

    #toggle:checked ~ .menu
        height: 150px
        padding: 30px 0

        .menu-link
            opacity: 1

    .hero-text
        font-size: 10vmin

    #oprojektu, #jakzacit
        width: 100%
        padding: 0
        flex-direction: column
        .side
            padding: 0 7.5%
            width: 100%

            .subheading::after
                left: 50%
                margin-left: -25px

        .image
            width: 100%
            min-height: 50vh

    #jakzacit
        flex-direction: column-reverse

    #galerie
        .gallery-img:nth-child(-n+5)
            height: 275px
            max-width: calc(50% - 10px)

        .gallery-img:nth-child(n+5)
            display: none

        .modal-wrapper .modal
            min-width: 95%

@media screen and (max-width: 596px)
    .side
        text-align: center

        .text
            text-align: justify

    #galerie
        .gallery-img:nth-child(-n+3)
            height: 300px
            max-width: calc(100% - 10px)

        .gallery-img:nth-child(n+3)
            display: none

//Mobile L
//@media screen and (max-width: 425px)
