<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.min.css")
        title Školní korfbal
    body
        section#header
            .nav
                .logo
                input(type="checkbox" id="toggle")
                .menu
                    a.menu-link(href="") Domů
                    a.menu-link(href="") O projektu
                    a.menu-link(href="") Jak začít
                    a.menu-link(href="") Galerie
                    a.menu-link(href="") Kontakty
                label.hamburger(for="toggle")
                    
            .hero
                h1.hero-text Začni s<br>korfbalem
                .hero-button Jak začít?

        section#oprojektu
            .left
                h2.heading Lorem ipsum
                p.subheading Lorem ipsum dolor sit amet
                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptates tempore inventore, quos autem fuga assumenda corporis cupiditate id obcaecati quas expedita? Ipsum minus sunt hic, accusamus aperiam dolor asperiores!
                .button Jak začít?
                img(src="/img/svaz.png", alt="" height="75px").logo-svaz
            .image
