#jakzacit
    +container-left
    display: flex

    .image
        background: url(../img/left.jpg)
        background-size: cover
        background-repeat: no-repeat
        width: 50vw
        background-position: center

    .side
        padding-left: 150px
